
body{
    background-color: azure;
    text-align: center;
    justify-content: center;
    display: grid;
    margin: 0;
}

#gameField{
    border: 2px green solid;
    width: 320px;
    height: 320px;
    background-color: grey;

}

#player{
    width: 32px;
    height: 40px;
    background-image: url("./images/Character\ 5.png");
    background-size: 400%;
    /* background-position: 32px; */
    image-rendering: pixelated;
}