body {
  background-color: azure;
  text-align: center;
  justify-content: center;
  display: grid;
  margin: 0;
}

#gameField {
  border: 2px green solid;
  /* width: 960px;
  height: 960px; */
  width: 320px;
  height: 320px;
  background-color: rgb(227, 183, 183);
}

#player {
  width: 32px;
  height: 40px;
  background-image: url("./images/Character.png");
  background-size: 400%;
  image-rendering: pixelated;
  /* background-color: yellow; */
  position: absolute;
}

@keyframes damage-animation {
  0% {
    opacity: 1;
  }
  
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.damage{
    animation-name: damage-animation;
    animation-duration: 0.2s;
    animation-iteration-count: 5;
}

#enemy {
  width: 32px;
  height: 40px;
  background-image: url("./images/enemy.png");
  background-size: 400%;
  /* background-color: green; */
  image-rendering: pixelated;
  position: absolute;
}
