body {
  display: grid;
  /* display: flex; */
  text-align: center;
  justify-content: center;
  background-color: bisque;
}

#gameField {
  width: fit-content;
  /* width: 600px;
    height: 400px; */
  border: 1px green solid;
}

#background {
  /* grid-template-columns: repeat(10, max-content); */
  grid-template-columns: repeat(var(--GRID-WIDTH), max-content);
  display: grid;
}

.tile {
  width: calc(var(--TILE-SIZE) * 1px);
  aspect-ratio: 1/1;
  border: 1px grey solid;
}

.tile.path {
  background-size: 50%;
  image-rendering: pixelated;
  background-image: url("/assets/simple-assets/images/tiles/floor_stone.png");
}
.tile.grass {
  background-image: url("/assets/simple-assets/images/tiles/grass.png");
}
.tile.water {
  background-image: url("/assets/simple-assets/images/tiles/water.png");
}
.tile.wall {
  background-image: url("/assets/simple-assets/images/tiles/wall.png");
}
.tile.door {
  background-image: url("/assets/simple-assets/images/tiles/door.png");
  background-size: 100%;
  image-rendering: pixelated;
}
.tile.planks {
  background-size: 50%;
  image-rendering: pixelated;
  background-image: url("/assets/simple-assets/images/tiles/floor_planks.png");
}
.tile.flowers {
  background-size: 100%;
  image-rendering: pixelated;
  background-image: url("/assets/simple-assets/images/tiles/flowers.png");
}
.tile.wood {
  /* background-size: 100%; */
  image-rendering: pixelated;
  background-image: url("/assets/simple-assets/images/tiles/floor_wood.png");
}
.tile.tree {
  background-size: 100%;
  image-rendering: pixelated;
  background-image: url("/assets/simple-assets/images/tiles/tree.png");
}

.tile.well {
  background-size: 100%;
  image-rendering: pixelated;
  background-image: url("/assets/simple-assets/images/tiles/well.png");
}
